{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">
    {% if session.language == 'Arabic' %}
        يرجى تحديد سبب واحد أو أكثر من الأسباب المذكورة أدناه.
    {% else %}
        Please select one or more of the reasons listed below.
    {% endif %}
</h2>



<div class="d-flex justify-content-center">
    <form method="POST" class="text-center" style="width: 100%; max-width: 500px;">
    <div class="mb-3">
        <div class="option-box">
        <input class="form-check-input" type="checkbox" name="ambience_reasons" value="It was too warm / too cold in the store" id="a1"
        {% if "It was too warm / too cold in the store" in ambience_reasons %}checked{% endif %}>
        <label class="form-check-label" for="a1">
            {% if session.language == 'Arabic' %}
                كان الجو حاراً جدًا / باردًا جدًا في المتجر
            {% else %}
                It was too warm / too cold in the store
            {% endif %}
        </label>
    </div>

    <div class="option-box">
            <input class="form-check-input" type="checkbox" name="ambience_reasons" value="The store and display seemed untidy" id="a2"
            {% if "The store and display seemed untidy" in ambience_reasons %}checked{% endif %}>
            <label class="form-check-label" for="a2">
                {% if session.language == 'Arabic' %}
                    المتجر وكيفية عرض المنتجات كانت غير مرتبة
                {% else %}
                    The store and display seemed untidy
                {% endif %}
            </label>
    </div>

    <div class="option-box">
        <input class="form-check-input" type="checkbox" name="ambience_reasons" value="The lighting was too bright / too dim" id="a3"
        {% if "The lighting was too bright / too dim" in ambience_reasons %}checked{% endif %}>
        <label class="form-check-label" for="a3">
            {% if session.language == 'Arabic' %}
                كانت الإضاءة ساطعة جدًا / خافتة جدًا
            {% else %}
                The lighting was too bright / too dim
            {% endif %}
        </label>
    </div>

    <div class="option-box">
        <input class="custom-check-box" type="checkbox" name="ambience_reasons" value="The store layout was not very easy to navigate" id="a4"
        {% if "The store layout was not very easy to navigate" in ambience_reasons %}checked{% endif %}>
        <label class="form-check-label" for="a4">
            {% if session.language == 'Arabic' %}
                تصميم المتجر يجعل التنقل ليس سهلاً
            {% else %}
                The store layout was not very easy to navigate
            {% endif %}
        </label>
    </div>

    <br>

    <div class="row">
        {% if session.language == 'Arabic' %}
            <div class="col-6 d-flex justify-content-start">
                <button type="submit" class="btn btn-primary">
                    ←التالي 
                </button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ url_for('satisfaction_reason') }}" class="btn btn-outline-secondary">
                    السابق→
                </a>
            </div>
        {% else %}
            <div class="col-6 d-flex justify-content-start">
                <a href="{{ url_for('satisfaction_reason') }}" class="btn btn-outline-secondary">
                    ← Previous
                </a>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Next →
                </button>
            </div>
        {% endif %}
    </div>
    
    </form>
    {% endblock %}
    
